<strong>Recuperando Senha</strong>

<p>Sua solicitação de senha foi aceita e enviada para seu e-mail: {{ email }}.</p>

<p>Segue seu token: {{ token }} </p>

<a href="{{ link }}"> Criar nova senha </a>